// 在这里覆盖 vant 的 less 变量值
// 统一样式变量
@white: #fff;
@blue: #0063b1;

// 覆盖 NavBar 样式
@nav-bar-title-text-color: @white;
@nav-bar-icon-color: @white;
@nav-bar-text-color: @white;
@nav-bar-background-color: #0063b1;

// 覆盖 九宫格列表 样式
@grid-item-text-font-size: 13px;
@swipe-indicator-inactive-background-color: @blue;

// 覆盖 店家列表 样式
@tag-border-radius: 5px;

// 覆盖 搜索页面的空状态 样式
@empty-description-font-size: 16px;
